<!--The content below is only a placeholder and can be replaced.-->
<div class="main-container" id="main">
  <div class="search-container"  [ngClass]="{'header-mode': atLeastOneSearch}">

      <form  class="min-form"  #f="ngForm">
          <input type="text" name="search"  placeholder="What image do you want to see on Pixabay?" [(ngModel)]="search" class="form-control" (keyup)="newSearch()"> 
          <button class="search-btn btn btn-primary" (click)="getImages()">{{isSearching? 'Searching': 'Search'}}</button>
      </form>

  </div>
  <div class="results-container" *ngIf="atLeastOneSearch">
    <div class="img-wrapper" *ngFor="let img of results;" (click)="imgClicked(img)">
      <img class="img" [src]="img.userImageURL">
    </div>
    <div *ngIf="noResultsFound" class="no-reuslts">
     <h2><i class="fas fa-tired no-result-face"></i>	 No result found</h2>
    </div>
  </div>
</div>

<app-details *ngIf="showDetails" [img]="selectedImg" (toggle)="closeClicked($event)"></app-details>

